name: build
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - ruby: 3.4
            postgres: 18
          - ruby: 3.4
            postgres: 17
          - ruby: 3.3
            postgres: 16
          - ruby: 3.2
            postgres: 15
          - ruby: 3.1
            postgres: 14
          - ruby: "3.0"
            postgres: 13
    steps:
      - uses: actions/checkout@v5
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - uses: ankane/setup-postgres@v1
        with:
          postgres-version: ${{ matrix.postgres }}
          database: pgslice_test
      - run: bundle exec rake test
